
@import './../../asserts/basicStyle/base.scss';
.footer-wrapper{
    padding: 30px 10px;
    float: left;
    width: 100%;
    @include desktopsmall{
        padding: 50px
    }
    .title{
        padding-bottom: 30px;
        h4{
            margin: 0;
            padding-left: 5px;
            font-size: 40px;
        }
        .subtitle{
            margin: 0;
            padding-left: 10px;
            font-size: 14px;
        }
        @include desktopsmall{
            width: 50%;
            float: left;
        }
    }
    .address{
        text-align: center;
        @include desktopsmall{
            width: 50%;
            float: right;
        }
    }
}