
@import './../../asserts/basicStyle/base.scss';
.footer-wrapper{
    padding: 30px 10px;
    float: left;
    width: 100%;
    background-color: blanchedalmond;
    @include desktopsmall{
        padding: 50px
    }
    .title{
        padding-bottom: 30px;
        h4{
            margin: 0;
            padding-left: 5px;
            font-size: 40px;
        }
        .subtitle{
            margin: 0;
            padding-left: 10px;
            font-size: 14px;
        }
        .about-me{
            padding-top: 20px;
        }
        @include desktopsmall{
            width: 30%;
            float: left;
        }
    }
    .conact-us{
        text-align: center;
        @include desktopsmall{
            width: 30%;
            float: left;
        } 
        p{
            font-size: 20px;
        }
    }
    .address{
        text-align: center;
        @include desktopsmall{
            width: 35%;
            float: right;
        }
    }
}